.header {
	/* display: none; */
	padding: 48px 0px 0px 0px;
	margin: 0px auto;
}

.header__flex {
	/* border: 3px red solid; */
}

.header__nav {
	display: flex;
	align-items: center;
	height: 58px;

}

.header__logo {
	margin: 0px 393px 0px 0px;
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 32px;
	letter-spacing: -0.06em;
	color: #313131;
}


.header__menu {
	justify-content: flex-end;
}

.menu {}

.menu__items {
	display: flex;

}

.menu__items:last-child {
	margin-right: 203px;
}

.menu__item {
	margin: 0px 50px 0px 0px;
	padding: 5px 0px 0px 0px;
	align-items: center;

}

.menu__item:hover {
	box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1),
		0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259),
		0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407),
		0px 20px 13px rgba(49, 49, 49, 0.05),
		0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593),
		0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}

.menu__link {}

.login {
	display: flex;
	align-items: center;

}

.login__signin {
	margin: 0px 31px 0px 0px;
	font-style: normal;
	font-weight: 450;
	font-size: 17px;
	line-height: 32px;
	color: #313131;
}

.login__signup {
	background: #313131;
	box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1),
		0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259),
		0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407),
		0px 20px 13px rgba(49, 49, 49, 0.05),
		0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593),
		0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
	border-radius: 5px;
	padding: 18px 47px;
	max-height: 58px;
	max-width: 152px;
	font-style: normal;
	font-weight: 450;
	font-size: 17px;
	line-height: 22px;
	color: #FFFFFF;
}

.header__main {
	display: flex;
	justify-content: space-between;
}

.header__text-block {
	padding: 225px 0px 0px 0px;
	margin: 0px 0px 0px 75px;
	max-width: 517px;
}

.header__title {
	transition: all 0.5s ease 0s;
	margin: 0px 0px 18px 0px;
}

.header__subtitle {
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	color: #313131;
	margin: 0px 0px 31px 0px;


}

.header__text {
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	color: #313131;
	margin: 0px 0px 66px 0px;
}

.get-started {
	display: flex;
	justify-content: space-between;
	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 5px;
	line-height: 58px;
	max-width: 517px;

}

.get-started placeholder {
	max-width: 300px;

}

.header__get-started {}


.get-started__email {
	display: inline-block;
	padding: 0px 0px 0px 17px;
	max-width: 320px;
	align-items: center;
}

.get-started__button {
	display: inline-block;

	max-width: 197px;
	background: #313131;
	box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1),
		0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259),
		0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407),
		0px 20px 13px rgba(49, 49, 49, 0.05),
		0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593),
		0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}

.get-started p {
	font-weight: 400;
	font-size: 17px;
	line-height: 22px;
	color: #FFFFFF;
	padding: 17px 54px;
	/* margin: 0px auto; */
}

.header__image {
	/* замедление и сглаживание трансформации */
	transition: all 0.5s ease 0s;
	background: url('../img/header/bg.svg') 40px 275px/auto auto no-repeat;
}

.header__image:hover {
	/* трансформ изменение размеров */
	transform: scale(0.9);
}

.header__title:hover {
	transform: skew(10deg, 10deg);
}